<template>
  <div class="container-fluid text-bg-dark">
    <router-view/>
  </div>
</template>

<script setup lang="ts">
</script>

<style lang="scss">
#app {
  background-color: $bg-dark;
}
</style>
