<template>
  <div v-if="sysResponse.code == '404'" class="content-view" >
    ERROR!
    <p>{{ sysResponse }}</p>
  </div>
  <div v-else class="content-view">
    <NavigationBar :arrayPath="arrayPath"/>

    <ContentContainer :data="sysResponse"/>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, Ref, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { FileService } from '@/services/FileService'
import IResponse from '@/interfaces/IResponse';
import NavigationBar from '@/components/NavigationBar.vue';
import ContentContainer from '@/components/ContentContainer.vue';

const route = useRoute();
// const router = useRouter();
const service = new FileService();
let sysResponse = service.getSystem() as IResponse;
let arrayPath: Ref<string[]> = ref([]);

onMounted( async () => {
  init()
})

const init = async () => {
  arrayPath.value = pathAsArray(route.params.pathResource);
  await service.fetchPath(pathAsString(route.params.pathResource));
}
watch(route, async (newValues) => {
  arrayPath.value = pathAsArray(newValues.params.pathResource);
  await service.fetchPath('/' + pathAsString(newValues.params.pathResource));
})

const pathAsArray = (props: any): Array<string> => {
  let aux = [];
  if(props instanceof Array) {
    aux = props;
  } else if(props) {
    aux = [props];
  }
  return aux;
}
const pathAsString = (path: any): string => {
  let pathValue = '';
  if(!path){
    pathValue = '';
  }else if(typeof path === 'string') {
    pathValue = path as string;
  } else {
    pathValue = (path as Array<string>).join('/');
  }
  return pathValue;
};
</script>

<style scoped>
.content-view {
  height: 85vh;
}
</style>