<template>
  <div v-if="props.data.content" class="row justify-content-start">
    <div v-for="dir in props.data.content.folders" :key="dir"
      class="col-12 col-sm-6 col-md-4 col-lg-3 align-self-start mb-2">
      <FolderComponent :path="props.data.path" :name="dir"></FolderComponent>
    </div>
    <div v-for="file in props.data.content.files" :key="file"
      class="col-12 col-sm-6 col-md-4 col-lg-3 align-self-start mb-2">
      <FileComponent :path="props.data.path" :name="file"></FileComponent>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, onMounted } from 'vue';
import IResponse from '@/interfaces/IResponse'; 
import FolderComponent from '@/components/FolderComponent.vue';
import FileComponent from '@/components/FileComponent.vue';

const props = defineProps({
  data: IResponse
});
onMounted( async () => {
  console.log(props.data);
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
