<template>
    <a class="file d-block text-body-emphasis text-decoration-none" @click="download()">
        <div class="bg-body-secondary text-center rounded file-image">
            <img v-if="esImagen()" :src="sourcePath()" alt="imagen" />
            <img v-else src="../assets/icons/light/file.svg" alt="archivo" />
        </div>
        <div class="dir-name text-decoration-none text-center">{{ name }}</div>
    </a>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
const VUE_APP_REST_API = process.env.VUE_APP_REST_API;
const EXTENSIONES_VALIDAS = ['jpg', 'png', 'gif', 'svg'];

const props = defineProps({
    path: String,
    name: String
});
const sourcePath = () => {
    return VUE_APP_REST_API + '/' + props?.path?.replace('/root/', '') + '/' +props?.name
}
const esImagen = () => {
  const extension = props.name?.split('.');
    return EXTENSIONES_VALIDAS.includes(extension[extension?.length-1]);
}
const download = () => {
    // VUE_APP_REST_API + props?.path + props?.name
}
</script>

<style scoped lang="scss">
.file {
    background-color: #2c2c2c;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(255, 0, 255, 0.479);
    }
    img {
        width: 10rem;
        max-height: 5rem;
        height: auto;
    }
    .file-image {
        height: 5rem;
    }
    .dir-name {
        color: rgb(191 191 191);
    }
}
</style>