<template>
    <router-link class="folder d-block text-body-emphasis text-decoration-none" :to="relativePath()">
        <div class="bg-body-secondary text-center rounded">
            <img src="../assets/icons/light/folder.svg" alt="carpeta" />
        </div>
        <div class="dir-name text-decoration-none text-center">
            {{ name }}
        </div>
    </router-link>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";

const props = defineProps({
    path: String,
    name: String
});
const relativePath = () => {
    let aux = `${props.path}/${props.name}`;
    return aux.replaceAll('//', '/').replace('/root', '').replaceAll('//', '/');
}
</script>

<style scoped lang="scss">
.folder {
    background-color: #2c2c2c;
    border-radius: .5rem;
    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(255, 0, 255, 0.479);
    }
    img {
        width: 5rem;
    }
    .dir-name {
        color: rgb(191 191 191);
    }
}
</style>