<template>
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Cargar archivo
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <label for="inputRuta" class="form-label">Path</label>
        <input type="text" id="inputRuta" class="form-control" aria-labelledby="input de la ruta a ingresar">
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <button class="btn btn-primary">Cargar</button>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="ts" setup>
</script>

<style scoped>
</style>