<template>
  <nav class="nav">
    <router-link class="nav-link" :to="{ name: 'home' }">/root</router-link>
    <a v-for="(folder, index) in arrayPath" :key="folder" class="nav-link" role='button'
      @click="navigate(defineUrl(index))">/{{ folder }}</a>
  </nav>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();

const props = defineProps({
  arrayPath: { type: Array }
});

const navigate = async (pathNavigate: string) => {
  // console.log('navigate ', pathNavigate);
  route.params.pathResource = [];
  router.push( { path: '/'+pathNavigate} );
}
const defineUrl = (index: number): string => {
  // console.log('defineUrl ', pathAsString(props.arrayPath.slice(0, index+1)));
  return pathAsString(props.arrayPath.slice(0, index+1));
};
const pathAsString = (path: any): string => {
  let pathValue = '';
  if(!path){
    pathValue = '';
  }else if(typeof path === 'string') {
    pathValue = path as string;
  } else {
    pathValue = (path as Array<string>).join('/');
  }
  return pathValue;
};
</script>

<style scoped></style>
